@model Acceso

@{
    ViewBag.Title = "Login";
    Layout = "_LayoutLogin";
}

<container style="display: grid; justify-content: center">
    <h2 style="display: flex; justify-content: center;color: navy; font-size: 30px; font-weight: bold; font-family: Roboto;margin-top: 20px">Bienvenido a la p치gina de turnos!</h2>
    
    <div style="border: 2px solid lightgray; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); margin-top: 40px; width: 600px;">
        <div class="row mt-5">
            <form asp-controller="Acceso" asp-action="Ingresar" method="post">
                <div style="margin: 10px">
                    <input type="hidden" asp-for="idAcceso">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" asp-for="nombreUsuario" placeholder="Nombre de usuario">
                        <label for="floatingInput">Nombre de usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" asp-for="contrase침a" placeholder="Contrase침a">
                        <label for="floatingPassword">Contrase침a</label>
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="submit" style="margin-bottom: 20px">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</container>
