@model ProyectoTurnos.Models.Turno

@{
    ViewData["Title"] = "Edit2";
}

<h3>Editar datos</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit2">
            <input type="hidden" asp-for="IdTurno" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 7px;">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 7px;">
                <label asp-for="hora" class="control-label"></label>
                <input asp-for="hora" class="form-control" />
                <span asp-validation-for="hora" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 7px;">
                <label asp-for="idPaciente" class="control-label"></label>
                <input asp-for="idPaciente" class="form-control" />
                <span asp-validation-for="idPaciente" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 7px;">
                <label asp-for="idConsulta" class="control-label"></label>
                <input asp-for="idConsulta" class="form-control" />
                <span asp-validation-for="idConsulta" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 10px; margin-bottom: 7px;">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
          
            <div style="margin-top: 15px">
                <input type="hidden" asp-for="IdTurno"/>
                <input type="submit" value="Editar" class="btn btn-outline-primary"/>
                <a class="button btn btn-outline-primary" onclick="history.go(-1)">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


